<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <h1> Wiki </h1>
            <img id="front-img">
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa deserunt obcaecati numquam corrupti error laudantium iure vero voluptatum minus. Dolores cum odit praesentium itaque expedita, incidunt ipsum facilis beatae repellat, reiciendis ratione corporis nemo minima iusto tenetur! Officiis vitae, voluptate in sint, alias fuga, quam iure necessitatibus delectus suscipit tempore.</p>
        </section>
        <div id="characters">

        </div>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="SingularBot"
  agent-id="e057997d-f7c6-4c0b-8f0d-21e9d2b24558"
  language-code="es"
></df-messenger>
    </main>
    <template id="character_template">
        <section>
            <img>
            <div class="character_info">
                <h2></h2>
                <p></p>
            </div>
        </section>
    </template>
    <script type="module" src="../scripts/template.js"></script>
</body>
</html>