<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section >
            <img alt="team_image" src="../assets/page_basics/teammates/team_image.jpg" class="s-30-300-pr">
            <div class="flex-col- s-full-auto">
                <h1>Integrantes del equipo</h1>
                <p class="s-min-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque incidunt esse optio quia sunt. Reiciendis rerum quos consequuntur illum repellat? Ad nobis id nisi sit reprehenderit architecto quae sequi ea fugit expedita repellendus accusamus cupiditate minima labore voluptatum, quam vero laboriosam laudantium explicabo enim velit aperiam iste laborum eaque. Maxime?.</p>
            </div>
            
        </section>
    </main>
    <template>
        <article>

        </article>
    </template>
    <script type="module" src="../scripts/template.js"></script>
    <script src="../scripts/views/teammate.js"></script>
</body>
</html>